# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
rag_project
data
embeddings

__pycache__
__pycache__/

.milvus_local.db.lock
milvus_local.db